
.navbar{
    position: fixed;
    top: 20px;
    width: 95%;
    height: 35px;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    
}
li{
    float: left;
    padding: 10px 10px;
}
ul a {
    color: black;
    text-decoration: none;
}
.right{
    float: right;
   }

#main{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

input{
    margin-top: 30px;
    
}

.search{
    width: 80%;
    overflow: hidden;
    height:40px;
    border: 1px solid #d1ceceda;
    border-radius: 30px;
}

.button{
    
}


.footer{
    background: #f2f2f2;
    font-family: arial;
    color: #757575;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footerul{
    width: 95%;
}

.footer a{
    color: #757575;
    padding: 5px;
    font-size: 10pt;
}

.inline{
    display: inline-flex;
}

.navbarimg{
    width: 30px;
    height: 30px;
    background-size: cover;
    display: block;
    border-radius:50%;
}